{% extends 'base.html.twig' %}

{% block title %}DayDiscover{% endblock %}

{% block body %}
    <h1>Les Journées découvertes</h1>

    <div class="container">
        {% if admin == true %}
            <a href="{{ url('jd.add') }}" class="btn btn-primary btn-sm">Ajouter une nouvelle Journée</a>
        {% endif %}
        <div style="margin-top: 0.6em" class="row">
            {% for item in jdAll %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ item.title }}</h3>
                            <p class="card-text">À {{ item.lieu }}, le {{ item.date|date("d F Y") }}</p>
                        </div>
                        <a href="{{ url('jd.detail', {id: item.id}) }}" class="btn btn-primary">Voir le détail</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
